#projectCards{
	width: 100%;
	margin-left:3%;
}

#cardContainer, #cardContainer th, #cardContainer td{	
	border: 0.5px solid black;
	border-collapse: collapse;
	text-align: center;
	padding : 1.1%;
}

#cardContainer tr:nth-child(even) {
	background-color: #f6f5f5;
}

#cardContainer thead{
	background-color: var(--main-color);
	color:white;
}

#cardContainer{
	margin-bottom: 10px;
	max-width: 60%;
	margin-right: 10%;
}

.projectLink{
	color: var(--main-dark-color);
}

.card{
	
}

.project-item{
	border: solid 1px #e7e7e7;
	max-width: 26vw;
	min-width: 26vw;
	padding: 16px;
	background-color: white;
	border-radius: 12px;
}

.project-title{
	font-size: 0.85rem;
	font-weight: 550;
	color: var(--main-color);
}

.project-image-container{
	margin-top: 8px;
	display: flex;
}

.project-image{
	width: 125px;
	height: 125px;
	cursor: pointer;
}

.project-summary{
	padding-left: 12px;
	font-size: 0.95rem;
}

:host ::ng-deep .p-carousel.p-component{
	margin-top: 16px !important;
}

:host ::ng-deep .p-carousel-prev, :host ::ng-deep .p-carousel-next{
	color: var(--main-color);
}

:host ::ng-deep .p-carousel-indicator button{
	width:  17px;
	height: 17px;
	border-radius: 100px;
}

:host ::ng-deep .p-carousel-indicator.p-highlight button{
	background-color: var(--main-color);
}

:host ::ng-deep .p-carousel-indicator:not(.p-highlight) button{
	border: solid 1px var(--main-color);
	background-color: white;
}

:host ::ng-deep .p-carousel-indicator:not(.p-highlight) :hover{
	border: solid 2px white;
	background-color: var(--main-color);
}

:host ::ng-deep .p-carousel-item{
	display: flex !important;
	justify-content: center !important;
}

@media only screen and (max-width: 1200px) {
	.project-item{
		max-width: 35vw;
		min-width: 35vw;
	}
}

@media only screen and (max-width: 767px) {
	.project-item{
		max-width: 50vw;
		min-width: 50vw;
	}
}


