<section id="technicalSkills" class="subsection">
	<h2 class="subsectionTitle"> Technical Skills</h2>

	<ul class="subsectionList">
		<li>Experience using Javascript, PHP, Java, C# and Python.</li>
		<li>Knowledge in SQL databases. Also, experience using Oracle DBMS, MySQL, SQLite and Microsoft SQL Server.</li>
		<li>Experience using NodeJS with Express Framework, Websockets and Bootstrap. Also, knowledge in Angular Framework (including this site).</li>
		<li>Knowledge in Human-Computer Interaction field</li>
	</ul>
</section>
