#mainMenuItems{
	margin-top: 0;
	list-style: none;
	height: 50px;
}

#mainMenuItems a:hover{
	color: #6e6d6d;
}

#mainMenuItems div{
	margin: 0px 18px;
	display: flex;
	height: 100%;
	align-items: center;
}


#mainMenuItems a{
	text-decoration: none;
	color: #a09f9f ;
	font-size: 1.2em;
	font-weight: 600;
	display: flex;
	align-items: center;
	height: 100%;
}

#mainMenuItems a.active{
	border-bottom: solid 2px #a09f9f;
}

#mainMenu{
	background-color: white;
	width: 100%;
	margin-bottom: 12px;
}

#mainMenuItems li{
	display: inline;
}

#languageSelector, #languageSelectorMobile{
	position: absolute;
	right: 3%;
	z-index: 4;
	text-transform: uppercase;
	cursor: pointer;
}

#languageMenu{
	position: absolute;
	right: 0%;
	background-color: white;
	width: 85px;
	align-items: baseline;
	height: fit-content !important;
	padding-top: 75px;
	z-index: 3;

	display: flex;
  	flex-direction: column;
  	padding-top: 125px;
	margin-left: 0px !important;
	margin-right: 0px !important;
}

.langMenuItem{
	padding: 12px;
	cursor: pointer;
	color: #a09f9f;
}

.langMenuItem:hover{
	color: #6e6d6d;
	font-weight: 700;
}


