<!--<nav id="mainMenu">
	<div style="display:flex; justify-content: space-between;">
		<div style="display: flex; align-items: center; padding: 16px;">
			<ul id="mainMenuItems" style="width: 100%;">
				<li><a routerLink="/">Index</a></li>
				<li><a routerLink="/projects">Projects</a></li>
				<li><a routerLink="/certifications">Certifications</a></li>
				<li><a routerLink="/contact">Contact</a></li>
			</ul>
		</div>
		<div id="mainMenuItems" style="display: flex; align-items: center; color: white; font-weight: 700; font-size: 16px;">
			<ul>
				
			</ul>
		</div>
	</div>
</nav>-->
<nav id="mainMenu">
	<div style="display:flex; justify-content: space-between;">
		<div style="display: flex; align-items: center; width: 100%;">
			<div id="mainMenuItems" class="d-flex" style="width: 100%; justify-content: center;">
				<div><a routerLink="/">Index</a></div>
				<div><a routerLink="/projects">Projects</a></div>
				<div><a routerLink="/certifications">Certifications</a></div>
				<div><a routerLink="/contact">Contact</a></div>
			</div>
		</div>
		<!--<div id="mainMenuItems" style="display: flex; align-items: center; color: white; font-weight: 700; font-size: 16px;">
			<ul>
				Lang
			</ul>
		</div>-->
	</div>
</nav>