.contactContent{
	padding: 16px 0px;
	display: flex;
	justify-content: center;

}

.contactContent a{
	color: var(--main-color);
	text-decoration: none;
}

.contactContent a:hover{
	color: var(--main-dark-color) !important;
	text-decoration: underline !important;
	text-decoration: none;
}

.contact-icon{
	padding-right: 6px;
	padding-left: 24px;
	font-size: 1.5rem;
}


.row{
	margin-bottom: 8px;
}

.contact-item{
	display: flex;
	align-items: center;
}

.contact-item div{
	display: inline;
	height: 100%;
}



/*Responsive*/
@media only screen and (max-width: 760px) {

	.contactContent{
		display: flex;
		flex-direction: column;
		padding-left: 30vw;
	}

	.contact-item{
		margin: 8px 0px;
	}

}


