.serviceText > a
{
	color: var(--main-color);
}

.serviceText
 {
	 display: inline;
	 margin-left: 3%;
 }

.serviceImage
{
	margin-left: 4%;
	padding-top: 1.5%;
	max-width: 2.5%;
	max-height: 2.5%;
	display: inline;
}
