<section id="contactInfo" class="subsection">
	<h2 class="subsectionTitle">Contact info</h2>
	<div class="">
		<img class="serviceImage" src="assets/github.png"/> <p class="serviceText"><a href="https://github.com/Esteban201483">Esteban201483</a></p>
	</div>
	<div>
		<img class="serviceImage" src="assets/gmail.png"/> <p class="serviceText">Esteban201483@gmail.com</p>
	</div>
	<div>
		<img class="serviceImage" src="assets/whatsapp.png"/> <p class="serviceText">(+506)87553317</p>
	</div>
</section>