<section id="projectsContainer">
	<span class="index-subtitle">{{'contact.projects' | translate}}</span>

	<div class="base-padding">
		<p-carousel 
		[value]="projects" 
		[numVisible]="3" 
		[numScroll]="3" 
		[circular]="true"
		[responsiveOptions]="responsiveOptions">
			<ng-template let-project pTemplate="item">
				<div class="project-item">
					<div class="project-title">
						{{ project.name }}
					</div>
					<div class="project-image-container">
						<img class="project-image" (click)="openProjectPreviewImage(project.previewImageURL)" src="{{project.previewImageURL}}"/>
						<div class="project-summary">
							{{ project.summary }} 
						</div>
					</div>
				</div>
			</ng-template>
		</p-carousel>
	</div>

	<span id="projectDisclosure" class="base-padding">*{{'projects.disclosure' | translate}}</span>
</section>