#projectCards
{
	margin-left:3%;
}
#cardContainer, #cardContainer th, #cardContainer td
{	
	border: 0.5px solid black;
	border-collapse: collapse;
	text-align: center;
	padding : 1.1%;
}

#cardContainer tr:nth-child(even) {
	background-color: #f6f5f5;
  }

#cardContainer thead
{
	background-color: var(--main-color);
	color:white;
}

#cardContainer
{
	margin-bottom: 10px;
	max-width: inherit;
	table-layout: fixed;
}

.projectLink
{
	color: var(--main-dark-color);
}

.card
{
	

}