/* You can add global styles to this file, and also import other style files */
:root
{
	/*--main-color: #444343;
	--main-dark-color: #131212;
	--secondary-color: #DBD6D6; 
	--secondary-dark-color: #807f7f;*/ 
	--main-color: #1f2a35;
	--main-dark-color: #0081a7;
	--main-light-color: #f6f6f6;
	/*--secondary-color: #00a5d6; 
	--secondary-dark-color: #0081a7;
	--secondary-light-color: #e3f8ff;*/
}
.ml8Percent
{
	margin-left: 8%;
}

.subsectionList li
{
	margin-bottom: 1%;
	list-style: symbols(cyclic "➜");
}

.subsectionContent{
	margin-top: 16px;
}

.subsectionTitle
{
	background-color: var(--main-color);
	color: white;
	padding-left: 1%;
	margin-top: 0;

	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 8px;

}

.subsection
{
	margin-left: 7.5%;
	background-color: var(--main-light-color);
	min-width: 70%;
	max-width: 90%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding-bottom: 1%;
	margin-bottom: 22px;

	animation-name: revealing;
	animation-duration: 1.5s;
	animation-iteration-count: 1;
	
}

.closeButton
{
	float: left;
}

@keyframes revealing
{
	0%
	{
		opacity: 0%;
		margin-top: 10%;
	}

	100%
	{
		opacity: 100%;
		margin-top: 0%;

	}
}
@media only screen and (max-width: 1140px) {
	h1{
		font-size: 34px !important;
	}
}

@media only screen and (max-width: 760px) {
	h1{
		font-size: 22px !important;
	}
}
