/* You can add global styles to this file, and also import other style files */
:root
{
	--main-color: #444343;
	--main-dark-color: #131212;
	--secondary-color: #DBD6D6; 
	--secondary-dark-color: #807f7f; 
}

.subsectionList li
{
	margin-bottom: 1%;
}


.subsectionTitle
{

}

.subsection
{
	margin-left: 7.5%;
}
