#personalImage{

	border-radius: 12px;
	width: 100px;
	display: block;

	/*width: 100px;
	height: 100px;*/
}

#personalContainer{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-bottom: 24px;
	margin-top: 24px;
}

.personalTitle{
	font-size: 1.25rem;
	display: flex;
	justify-content: center;
	margin-bottom: 8px;
}
