<!--<section id="personalContainer">
	<div class="row">
		<div class="col-1 col-xl-1 col-lg-1 col-sm-1 row">
			<img id="personalImage" alt="Esteban Rojas profile image" src="assets/profile.jpg"/>	
		</div>
	
		<div class="col-11 col-sm-11 row">
			<div class="subpersonalContainer row col-12">
				<h1 class="personalTitle">Esteban Rojas Solís</h1>
			</div>
			<div class="subpersonalContainer row col-12">
				<h1 class="personalTitle">MID Software Developer</h1>
			</div>
		</div>
	</div>
</section>-->
<section id="personalContainer">
	<div class="row" style="width: 100%;">
	
		<div>
			<div>
				<span class="personalTitle">Esteban Rojas Solís</span>
			</div>
			<div>
				<span class="personalTitle">MID Fullstack Software Developer</span>
			</div>
		</div>
	</div>
	<div style="display: flex; justify-content: center; width: 98%;">
		<img id="personalImage" alt="Esteban Rojas profile image" src="assets/profile2024.jpg"/>	
	</div>
</section>


