#personalImage
{

	border-radius: 15%;
	display: block;

	width: 100px;
	height: 100px;
}

#personalContainer
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-bottom: 24px;
	margin-top: 24px;
	margin-left: 8%;
	
}

.subpersonalContainer
{
	margin-left: 10%;
} 