#personalImage
{
	max-width: 17%;
	max-height: 17%;
	min-width: 10%;
	min-height: 10%;
	margin-left: 7.5%;

	border-radius: 15%;
	display: block;

	width: auto;
	height: auto;
}

#personalContainer
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-bottom: 1%;
	
}

.subpersonalContainer
{
	margin-left: 10%;
} 