<section id="personalContainer">
	<div class="row">
		<div class="col-3 col-sm-1 row">
			<img id="personalImage" alt="Esteban Rojas profile image" src="assets/profile.jpg"/>	
		</div>
	
		<div class="col-9 col-sm-9 row">
			<div class="subpersonalContainer row col-12">
				<h1 class="personalTitle ml8Percent">Esteban Rojas Solís</h1>
			</div>
			<div class="subpersonalContainer row col-12">
				<h1 class="personalTitle ml8Percent">Junior Software Developer</h1>
			</div>
		</div>
	</div>
</section>

